body{
    
}

.navbar{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color:rgb(248, 249, 249);
    display: flex;
    align-items: center;
}
.icon{
    width: 80px;
    height:80px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 90%;
    
}
img{
    width: 90%;
    height: 90%;
    object-fit: cover;  
    border-radius: 90%; 
}
.logo-text{
    font-size: 20px;
    font-weight: bold;
    color: #5A7156;
    font-family: 'Poppins', 'Inter','Helvetica Neue', Arial, sans-serif;
}
.menu{
    width: 600px;
    height: 40px;
    background-color:rgb(248, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20vw;
    

}

.menuicon{
    width: 50px;
    height: 50px;
    margin: 60px;
   
}
.menuicon:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
button{
    width: 160px;
    height: 40px;
    background-color: white;
    font-weight: 550;
    border-radius: 80px;
    border-style: hidden;
    margin-left: 12vw;
    font-family: 'Poppins', 'Inter','Helvetica Neue', Arial, sans-serif;

}
button:hover{
    background-color:  rgb(240, 244, 244);
    cursor: pointer;
}
.globe{
    width: 40px;
    height: 40px;
    background-color: rgb(237, 238, 238);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.globe:hover{
    background-color:  rgb(217, 219, 219);
    cursor: pointer;
}

a{
    text-decoration: none ;
    color: black;
}

@media(max-width:768px){
    .logo-text{
        display: none;
    }
}

/* ..................login page design..................... */

#loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:80px;
}
.login-container{
    background-color: aquamarine;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
.heading{
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
}
.bar input{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
}

#continue{
    width: 80%;
    margin-left: 0px;
    font-weight: bold;
    background-color: rgb(241, 51, 92);
    margin-top: 20px;
}
.divider{
    
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.option{
    
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.google,.apple{
    width: 50px;
    height: 50px;
    background-color: rgb(246, 246, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 90px;
}
.google:hover,.apple:hover{
    background-color: rgb(212, 212, 213);
    
}

